/**
 * vista.css
 *   Place in the same source directory as Main.java
 *   Ensure that your build system copies this file to your build output directory.
 */

#headerLabel {
    -fx-background-color: steelblue;
    -fx-text-fill: white;
    -fx-padding: 5px;
}

#vistaHolder {
    -fx-background-color: lightgrey;
}

#vista1 {
    -fx-background-color: aliceblue;
}

#vista2 {
    -fx-background-color: coral;
}

.button {
    -fx-base: lightblue;
    -fx-font-size: 20px;
}
#teamPage {
    -fx-background-image: url('../images/background60.jpg');

}
#vistaHolder {
    -fx-background-image: url('../images/background60.jpg');
}
#teamFrame{
    -fx-background-image: url('../images/background60.jpg');
}
#editBtn{
    -fx-pref-height: 10px;
    -fx-pref-width: 50px;
    -fx-padding: 0 0 0 0;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-background-color: white;
    -fx-font-size: 16;
}